<section id="navBar" class="sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-5 mx-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fs-3" href="#navbar">Visa2Fly</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#topSection">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#packages">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#socialMedia">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us">Contact</a>
          </li>
        </ul>
      </div>
      <div class=" navbar-brand d-flex float-end align-item-center">
        <a class="nav-link login me-3 my-auto" href="#">Login</a>
        <button class="join-us btn btn-primary d-flex align-items-center p-2 px-3" href="#">
          <div class>
            Join Us &nbsp;
          </div> 
          <div class="material-symbols-outlined">
            arrow_forward
          </div>
        </button>
      </div>
    </div>
  </nav>
</section>
<section id="topSection">
<div class="container">
  <div class="row d-flex align-items-center flex-col">
    <div class="col">
      <div class="row px-3">
        <span class="login">Welcome</span>
      </div>
      <div class="row px-3">
        <p class="text-wrap fs-1 fw-bolder">
          Best Learning Opportunities
        </p>
        <p class="text-wrap description fs-6">
          Our goal is to make online education work for everyone
        </p>
      </div>
      <div class="row px-3">
        <div class="col">
          <button class="join-us btn btn-primary p-2 px-4 me-2" href="#">
            Join Us 
          </button>
          <button class="learn-more btn btn-primary p-2 px-4" href="#">
            learn More
          </button>
        </div>
      </div>
    </div>
    <div class="hero1 col-6 text-center">
      <img src="./../assets/images/hero-cover-1.png" alt="Hero Image 1">
    </div>
  </div>
</div>
</section>
<section id="packages">
  <div class="container">
    <div class="row d-flex align-items-center my-auto">
      <div class="col">
        <div class="horizonntal-line mx-3">

        </div>
        <div class="row px-3">
          <p class="text-wrap fs-1 fw-bolder">
            Affordable Packages
          </p>
          <p class="text-wrap description fs-6">
            Problems trying to resolve the conflict between 
            the two major realms of Classical physics: 
            Newtonian mechanics 
          </p>
        </div>
        <div class="row px-3">
          <div class="col learn-more d-flex align-items-center">
            <span class="login fw-bold">Learn More &nbsp;</span>
            <span class="login arrow material-symbols-outlined">
              arrow_forward_ios
            </span>
          </div>
        </div>
      </div>
      <div class="col package-card">
        <div class="row d-flex align-items-stretch">
          <div class="col my-auto">
            <div class="card shadow p-2">
              <div class="card-body">
                <div class="p-2 card-image rounded-3 mb-3">
                  <img src="./../assets/images/012-blackboards.svg">
                </div>
                <div>
                  <p class="text-wrap fs-5 fw-bold">
                   Certified Teacher
                  </p>
                </div>
                <div class="card-line mx-1 mb-3">
                </div>
                <div>
                  <p class="text-wrap description mx-1">
                    The gradual 
                    accumulation of 
                    information about 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col my-auto">
            <div class="card shadow p-2">
              <div class="card-body">
                <div class="p-2 card-image rounded-3 mb-3">
                  <img src="./../assets/images/013-telescope-1.svg">
                </div>
                <div>
                  <p class="text-wrap fs-5 fw-bold">
                   Expert Instructions
                  </p>
                </div>
                <div class="card-line mx-1 mb-3">
                </div>
                <div>
                  <p class="text-wrap description mx-1">
                    The gradual 
                    accumulation of 
                    information about 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="socialMedia">
  <div class="container">
    <div class="row d-flex align-items-center flex-col mb-5">
      <div class="col">
        <div class="row px-3">
          <span class="login">Team</span>
        </div>
        <div class="row px-3">
          <p class="text-wrap fs-1 fw-bolder">
            Get Quality Education
          </p>
          <p class="text-wrap description fs-6">
            Problems trying to resolve the conflict between <br>
            the two major realms of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col carousel-col">
        <p-carousel [value]="persons" [numVisible]="4" [numScroll]="4" [circular]="true" [style]="{'height': 'fit-content'}"
          [responsiveOptions]="responsiveOptions">
          <ng-template let-person pTemplate="item" class="align-content-center">
            <div class="carousel-card border-1 surface-border rounded-3 m-auto mb-4 overflow-hidden shadow">
              <div class="mb-4">
                <div>
                  <img src="./../assets/images/user-cover-{{person.img}}.png" [alt]="person.name"
                    class="w-full border-round" />
                </div>
              </div>
              <div class="mb-3 font-medium text-center">
                <div class="div fs-6 fw-bold">
                  {{ person.name }}
                </div>
                <div class="description">
                  {{ person.profession }}
                </div>
              </div>
              <div class="flex justify-content-between text-center mb-4">
                <span class="rounded-circle">
                  <img src="./../assets/images/facebook.svg">
                </span>
                <span class="rounded-circle mx-2">
                  <img src="./../assets/images/instagram.svg">
                </span>
                <span class="rounded-circle">
                  <img src="./../assets/images/twitter.svg">
                </span>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
<section id="contact-us">
  <div class="container">
    <div class="row mb-5">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <div class="px-3">
          <span class="login">Newsletter</span>
        </div>
        <div class="text-center">
          <p class="text-wrap fs-4 fw-bolder px-3">
            Watch Our Courses
          </p>
          <p class="text-wrap description fs-6">
            Problems trying to resolve the conflict between <br>
            the two major realms of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col d-flex flex-column align-items-center justify-content-center text-center">
        <form [formGroup]="contactform">
          <div class="rounded-3 overflow-hidden">
            <p-inputGroup class="d-inline">
              <input type="email" formControlName="email" pInputText placeholder="Your Email" class="email-input"/>
              <button type="button" pButton class="join-us" (click)="onSubmitForm()">Subscribe</button>
            </p-inputGroup>
          </div>
          <div class="warning-text mt-2" *ngIf="!contactform.get('email').valid && contactform.get('email').touched">
            <span>Enter Valid Email</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="more">
  <div class="container my-5">
    <div class="row px-3">
      <div class="col mx-3">
        <div class="heading fw-bold mb-3 ">
          Company Info
        </div>
        <div class="description mb-2">
          About us
        </div>
        <div class="description mb-2">
          Career
        </div>
        <div class="description mb-2">
          We are Hiring
        </div>
        <div class="description mb-2">
          Blog
        </div>
      </div>
      <div class="col mx-3">
        <div class="heading fw-bold mb-3">
          Legal
        </div>
        <div class="description mb-2">
          About us
        </div>
        <div class="description mb-2">
          Career
        </div>
        <div class="description mb-2">
          We are Hiring
        </div>
        <div class="description mb-2">
          Blog
        </div>
      </div>
      <div class="col mx-3">
        <div class="heading fw-bold mb-3">
          Feature
        </div>
        <div class="description mb-2">
          Bussiness Marketing
        </div>
        <div class="description mb-2">
          User Analytic
        </div>
        <div class="description mb-2">
          Live Chat
        </div>
        <div class="description mb-2">
          Unlimited Support
        </div>
      </div>
      <div class="col mx-3">
        <div class="heading fw-bold mb-3">
          Resources
        </div>
        <div class="description mb-2">
          IOS & Android
        </div>
        <div class="description mb-2">
          Watch a Demo
        </div>
        <div class="description mb-2">
          Customers
        </div>
        <div class="description mb-2">
          Api
        </div>
      </div>
      <div class="col-2 mx-3 get-in-touch">
        <div class="heading fw-bold mb-3">
          Get In Touch
        </div>
        <div class="description mb-2">
         <img src="./../assets/images/contact.svg"> (480)555-0103
        </div>
        <div class="description mb-2 d-flex align-items-center">
          <div>
            <img src="./../assets/images/location.svg"> &nbsp;
          </div>
          <div class="ms-1">
            <p class="text-wrap my-0">
              4517 Washington Ave Manchester, <br> Kentucky 39495
            </p>
          </div>
        </div>
        <div class="description mb-2 d-flex align-items-center">
          <div>
            <img src="./../assets/images/email.svg">&nbsp;
          </div>
          <div class="ms-1">
            <p class="my-0">
              harshsagarkumar1111&#64;gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="credits">
<div class="container">
  <div class="row mx-3">
    <div class="col description px-3">
      Made with love by Harsh, Thanks.
    </div>
    <div class="col">
      <div class="flex justify-content-between text-center mb-4">
        <span class="rounded-circle">
          <img src="./../assets/images/facebook.svg">
        </span>
        <span class="rounded-circle mx-5">
          <img src="./../assets/images/instagram.svg">
        </span>
        <span class="rounded-circle">
          <img src="./../assets/images/twitter.svg">
        </span>
      </div>
    </div>
  </div>
</div>
</section>